{% extends 'base.htnml' %}
{% block title %}
    Password Reset Confirm - {{ block.super }}
{% endblock title %}
{% block content %}
    {% if validlink %}
    <h1>Confirm Password Reset</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form role="form" action="" method="post" />
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change password" />
    </form>
    {% else %}
    <h1>Password Reset Unsuccessful</h1>
    <p>Password reset link is invalid.  Please try to use a different one.</p>
    {% endif %}
{% endblock content %}