{% load staticfiles %}
<!doctype html> <html class="has-navbar-fixed-top">
<head>
<title>
Quizzer
</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}"/> 
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
<script src="{% static 'js/jquery-3.3.1.min.js' %}" defer></script>
{% comment %} <script src="{% static 'js/play_quiz.js' %}" defer></script> {% endcomment %}
 <script src="{% static 'js/js.cookie.js' %}" defer></script>
</head>

<body class="quiz-detail">


    <header class="hero is-primary is-bold is-medium navbar is-fixed-top avenir ">
        <nav class="navbar navhead ">
            <h1 class="title  has-text-light"><i class="fas fa-book"></i>  QUIZZER</h1>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{% url 'home' %}" class="navbar-item is-active">HOME
                                &nbsp;<i class="fas fa-home"></i></a>
                            {% if user.is_authenticated %}
                                    <a class="navbar-item" href="{% url 'auth_logout' %}">LOGOUT</a>
                                    {% else %}
                                    <a class="navbar-item" href="{% url 'auth_login' %}">LOGIN</a>
                                <div class="navbar-item">
                                    
                                        
                                        <a class="button is-black is-rounded is-inverted" href="{% url 'registration_register' %}">Register</a>

                                    {% endif %} 
                                </div>
                        </div>
                    </div>
        </nav>
    </header>

{% comment %} {% if messages %}
    {% for message in messages %}
    <article class="message is-success">
        <div class="message-header">
          
          <button class="delete" aria-label="delete"></button>
        </div>
        <!-- <div class="message-body">
             On your way to learning! Would you like to add some cards? -->
        <!-- </div> -->
      </article>
    {{ message }}
    </div>
    {% endfor %}
{% endif %} {% endcomment %}
</ul>

{% block content %}{% endblock content %}
{% block footer %}{% endblock footer %}
</body>

    <footer class="footer hero is-primary is-bold is-small">
        <div class="content has-text-centered has-text-white-ter">
            
            <a > <i class="fab fa-twitter fa-1x"></i> &nbsp; </a>
            <a > <i class="fab fa-facebook-square fa-1x"></i> &nbsp; </a>
            <a > <i class="fab fa-instagram fa-1x"></i> &nbsp; </a>
            <p> - Peter Max Ardra Sam - </p>
        </div>
    </footer>


</html>
