{% extends 'base.html' %} 



{% block title %}
    Homepage - {{ block.super }} 
{% endblock title %}


{% block content %}


<div class = "container">

      <a class="subtitle" href="{% url 'new_quiz' %}">
        <span class="icon is-medium">
          <i class="fas fa-plus-circle"></i>
        </span>
        <span>Add a Quiz!</span>
      </a>
     
</div>  
    {% for quiz in quizzes %}
      <div class = "container box">
        <h1 class = "title"> <a href="{% url 'quiz_detail' pk=quiz.pk %}">{{ quiz.title }} </a></h1>
        <h2 class = "subtitle"> Author | {{ quiz.author }} </h2>
        <p> Cards |  </p>
        <p> Description | {{ quiz.description }} </p>
        <div class="controls">
            <p >
                
                <a class="button is-success"><i class="fas fa-check"></i> &nbsp; Take The Quiz</a>
                <a class="button is-info" href="{% url 'edit_quiz' pk=quiz.pk %}"> <i class="fas fa-wrench"></i> &nbsp; Edit</a>
        </div>
      </div>
    
      
    {% endfor %}

{% endblock content %}

