{% extends 'base.html' %}
{% load staticfiles %}
{% load flashcards_filters %}
<head>
{% block title %}
{% endblock title %}
</head>

{% block content %}

<script> let quizNumber = {{ quiz.id }} </script>
<script src="{% static 'js/jquery.flip.js' %}" defer></script>
<script src="{% static 'js/play_quiz.js' %}" defer></script>

<div id='cardlist' class="container is-fluid">
    
    









<div class="title container tabs is-toggle-rounded avenir">
  <ul>
    <li >
      <a class="has-text-grey-lighter" href="{% url 'quiz_detail' pk=quiz.pk %}">
        <span class="icon is-small "><i class="fas fa-arrow-left"></i></span>
        <span>Go Back</span>
      </a>
    </li >
    <li class="is-active ">
      <a class="has-text-grey-lighter" >
        <span class="icon is-small"><i class="fas fa-play"></i></span>
        <span> Playing "{{quiz.title}}" </span>
      </a>
    </li>
    <li>
      <a class="has-text-grey-lighter" href="{% url 'play_quiz' pk=quiz.pk %}">
        <span class="icon is-small"><i class="fas fa-share"></i></span>
        <span>Restart Quiz</span>
      </a>
    </li>
      <div class="tabs is-right">
        <li >
          <a class="has-text-grey-lighter" href="{% url 'quiz_detail' pk=quiz.pk %}">
            <span class="icon is-small"><i class="fas fa-plus"></i></span>
            <span>Add Card</span>
          </a>
        </li>
      </div>
  </ul>
</div>
<br>




 <div id='cardlist' class="play avenir">
    <div class= "#" id='apple'>
    <h3 class="right subtitle has-text-white"> <i class="fas fa-columns"></i> Total Cards: {{ quiz|card_count }} <b>  </b></h3>
        <h1 class="subtitle has-text-white"> Quiz:  <b><i>"{{quiz.title}}</b></i> "</h1>
        <br>
        <br>
        <br>
        
    <div id="card" class="title is-1"> 
        <div id="question" class="front"></div> 
        <div id="answer" class="back"></div> 
    </div>
    
</div>
<br>

<button class = "button is-large avenir" id='nextcard'>another card</button>
        <br>
        <br>
    </div>
        <br>
        <br>
        <br>
        <br>
        

    </div>
    
 </div> 
        <br>
        <br>
        <br>















    {% comment %} <div class="display-cards">
    </div>
    <div class="next-card">
    </div>
    <div class="right-answers">
    </div>
    <div class="wrong-answers">
    </div> {% endcomment %}


</body>
{% endblock content %}
