{% extends 'base.html' %}
{% load staticfiles %}
{% load flashcards_filters %}
<head>
{% block title %}
{% endblock title %}
</head>

{% block content %}

<script> let quizNumber = {{ quiz.id }} </script>
<script src="{% static 'js/jquery.flip.js' %}" defer></script>
<script src="{% static 'js/play_quiz.js' %}" defer></script>

<body>

<div class="title container tabs is-toggle-rounded avenir">
  <ul>
    <li >
      <a class="has-text-grey-lighter" href="{% url 'quiz_detail' pk=quiz.pk %}">
        <span class="icon is-small "><i class="fas fa-arrow-left"></i></span>
        <span>Go Back</span>
      </a>
    </li >
    <li class="is-active ">
      <a class="has-text-grey-lighter" >
        <span class="icon is-small"><i class="fas fa-play"></i></span>
        <span> Playing "{{quiz.title}}" </span>
      </a>
    </li>
    <li>
      <a class="has-text-grey-lighter" href="{% url 'play_quiz' pk=quiz.pk %}">
        <span class="icon is-small"><i class="fas fa-share"></i></span>
        <span>Restart Quiz</span>
      </a>
    </li>
      <div class="tabs is-right">
        <li >
          <a class="has-text-grey-lighter" href="{% url 'quiz_detail' pk=quiz.pk %}">
            <span class="icon is-small"><i class="fas fa-plus"></i></span>
            <span>Add Card</span>
          </a>
        </li>
      </div>
  </ul>
</div>
<br>

 <div id='cardlist' class="play avenir">
    <div class= "box" id='apple'>
    <h3 class="right"> <i class="fas fa-columns"></i> Total Cards: <b> {{quiz|card_count}} </b></h3>
        <h1 class="subtitle is-light"> Quiz:  <b><i>"{{quiz.title}}</b></i> "</h1>
        <br>
        <br>
        <br>
        
    
        <div class='title is-1' id="card"> 
            
    
            <div id="question" class="front title"></div> 
            <div id="answer" class="back title"></div> 

    </div>
        <br>
        <br>
        <br>
        <br>

    </div>

    <button class="button is-large is-outlined avenir" id='nextcard'> 
            <span class="panel-icon">
              <i class="fas fa-share" aria-hidden="true"></i>
            </span>another card</button> 
     {% comment %} <button id='rightbutton'>got it right!</button>
    <button id='wrong'>got it wrong!</button>   {% endcomment %}

 </div> 

        <br>
        <br>
        <br>


{% comment %} 

<div id='cardlist' class="card play">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
            Quiz.Name
            </p>
        </header>

  <div class="card-content">
    
        <div id='cardlist' class="card">
            <div class='title' id="card"> 
                <div id="question" class="front title"></div> 
                <div id="answer" class="back title"></div> 
            </div>
            {% comment %} <button id='rightbutton'>got it right!</button>
            <button id='wrong'>got it wrong!</button>  {% endcomment %}
        {% comment %} </div>
    </div>
      Additional Content
      <br>
    </div>
  

  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>

</div>
<br>

<button class = "hero button is-rounded" id='nextcard'>another card</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>  {% endcomment %}











    {% comment %} <div class="display-cards">
    </div>
    <div class="next-card">
    </div>
    <div class="right-answers">
    </div>
    <div class="wrong-answers">
    </div> {% endcomment %}


</body>
{% endblock content %}
