{% extends 'base.html' %}
{% block title %}
    Edit {{ quiz.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
   



<div class="title container tabs is-toggle-rounded avenir">
  <ul>
    <li >
      <a class="has-text-grey-lighter" href="{% url 'home' %}">
        <span class="icon is-small "><i class="fas fa-arrow-left"> </i></span>
        <span>Go Back</span>
      </a>
    </li >
   
    <li class="is-active ">
      <a class="has-text-grey-lighter" href="{% url 'new_quiz' %}">
        <span class="icon is-small"><i class="fas fa-edit"></i></span>
        <span>Edit {{ quiz.title }}</span>
      </a>
    </li>
      
  </ul>
</div>

<div class ="box container has-background-grey-lighter avenir"> 
     <h1 class= "title"> Edit {{ quiz.title }}</h1>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <br>
        <br>
        <br>
        <button class= " button is-rounded is-warning" type="submit">Submit</button>
    </form>


    
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock %}

