{% extends 'base.html' %} 

{% block title %}
    {{ post.title }} - {{ block.super }} 
{% endblock title %}

{% block content %}
<div class = "container">
    <a class="subtitle">
    <span class="icon is-medium">
        <i class="fas fa-arrow-left"></i>
    </span>
    <span>Back to Quizzes</span>
    </a>
            </div>  
            <div class="top box">
            <h3 class ="subtitle">Quiz Name | Animal Quiz</h2>
            
            <article class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                <div class="content">
                    <h1 class ="title is-1"> Who was the first president ?</h1>
                </div>
                <a class="button is-success"><i class="fas fa-check"></i> &nbsp; Correct</a>
                <a class="button is-danger"><i class="fas fa-times"></i> &nbsp; Incorrect</a>
                <p>
                <h3 class ="subtitle">Question 1 of 15</h3>  
                </p>
                <nav class="level is-mobile">
                    <div class="level-left">
                    <a class="level-item" aria-label="reply">
                        <span class="icon is-small">
                       <i class="fas fa-arrow-left"></i>
                        </span>
                    
                   
                    <a class="level-item" aria-label="like">
                        <span class="icon is-small">
                        <i class="fas fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </a>
                    </div>
                </nav>
                </div>
            </article>
            </div>

  

{% endblock content %}