body{
    margin: 100px;
    padding: 100px;
    
}
.right {
    float: right;
    /* width: 300px;
    padding: 10px; */
  }


.top{
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 500px;
}

.back-arrow{
    float: left;
    margin-top: -120px;
    margin-left: 100px;
}

.forward-arrow{
    float: right;
    margin-top: -120px;
    margin-right: 100px;
}